#loading {
  position: absolute;
  left: 45%;
  top: 40%;
  margin-left: -45px;
  padding: 2px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
}
 
#loading a {
  color: #225588;
}
 
#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 10px;
  border: 1px solid #9c9c9c;
  
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  height: auto;
}
 
#loading .loading-indicator img {
  margin-right:8px;
  float:left;
  vertical-align:top;
}
 
#loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}

#mobile-header {
  background: #1E4176 url(img/bg/hd-bg.gif) repeat-x scroll 0pt;
  border: 0pt none;
  padding-left: 3px;
  padding-top: 0px;
}

#mobile-title {
  color: white;
  font-family: tahoma, arial, sans-serif;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  padding: 6px 0 8px 6px;
}

.header-text{
 color: #2554C7;
}

.overview-page {
  background-color: white !important; 
}

.sample-box {
  float: left;
  width: 172px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  height: 150px;
  cursor: default;
  color: #444;
  overflow: hidden;
  padding-top: 4px;
  border: 1px solid #DDDDDD !important;
}

.sample-over {
  background: transparent url(img/bg/sample-over.gif) no-repeat;
}

.sample-over div {
  color: #1860A8;
}

.sample-box div,#sample-box div a {
  color:green;
  font-size: 14px;
  line-height: 12px;
  font-family: tahoma, arial, sans-serif;
}

.sample-box dt a {
  border: 0 none !important;
}